PORT=5000

MONGO_URI=mongodb://localhost:27017/FinanceControl

JWT_ACCESS_SECRET=hellohowareyou
JWT_REFRESH_SECRET=iamfine

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=development

ALLOWED_ORIGINS=http://localhost:3000